# Node / Next
node_modules/
.next/
out/
dist/
coverage/

# Env / secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma / DB generated
prisma/dev.db*
